* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 20px;
    background-color: #1D049F;
}

header h1 {
    font-size: 2em;
}

main {
    display: flex;
    justify-content: space-evenly;
    min-height: 90vh;
}

.controls-area {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #E6E6E6;
}

.controls-area h2 {
    text-align: center;
}

.workspace {
    width: 60%;
    background-color: #FAFAFA;
}

.block-details {
    width: 20%;
    height: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
}

.transaction-form, .entities-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: 40%;
    font-size: 20px;
    background-color: #FFFFFF;
    padding: 5%;
}

.entities-form {
    height: 30% !important;
}

button, input, select {
    padding: 0.5%;
    font-size: 20px;
}

select, input {
    width: 70%;
}

.transaction-form, .entities-form h2 {
    justify-self: flex-start;
    align-self: center;
}

.form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.form-div .add-button {
    margin: 0 auto;
    color: white;
    background-color: blue;
    font-size: 32px;
    border-radius: 10px;
}

.form-div .add-button:hover {
    cursor: pointer;
}

.graph {
    width: 100%;
    height: 67%;
    padding: 2%;
    border-bottom: solid 2px black;
    overflow-y: scroll;
}

.graph div{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 26px;
    margin: 10px 0;
    padding: 1% 0;
    text-align: center;
    border: solid 2px black;
}

.graph div:hover {
    cursor: pointer;
}

.output-console {
    width: 100%;
    height: 30%;
    padding: 0.5%;
    overflow-y: scroll;
}

.block-details img {
    height: 32px;
    width: 32px;
    align-self: flex-end;
}

.block-details img:hover {
    cursor: pointer;
}

.block-details h2 {
    font-size: 32px;
    text-align: center;
}

.block-info p {
    width: 100%;
    height: 10%;
    margin: 5% 0;
    font-size: 20px;
    word-wrap: break-word;
    border-bottom: solid 2px black;
}