* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.visualize-area {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5%;
}

.graph {
    width: 78%;
    height: 100%;
    padding: 0.5%;
    background-color: #F5DEB3;
    border-radius: 10px;
    overflow-y: scroll;
}

.graph div{
    display: inline-block;
}

.block-details {
    width: 20%;
    height: 100%;
    padding: 0.5%;
    background-color: #FDFCFA;
    border-radius: 10px;
    box-shadow: 0 5px 5px #777777;
}

.block-details h2 {
    font-size: 32px;
    text-align: center;
}

.block-info p {
    width: 100%;
    height: 10%;
    margin: 5% 0;
    font-size: 20px;
    word-wrap: break-word;
    border-bottom: solid 2px black;
}

.controls-area {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5%;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 20%;
    height: 100%;
    padding: 0.5%;
    background-color: #FDFCFA;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 5px 5px #777777;
}

button, input, select {
    padding: 0.5%;
    font-size: 20px;
}

select, input {
    width: 70%;
}

.transaction-form h2 {
    justify-self: flex-start;
    align-self: center;
}

.form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.form-div #add-button {
    height: 100%;
    margin: 0 auto;
    color: white;
    background-color: green;
    font-size: 32px;
    border-radius: 10px;
}

.form-div #add-button:hover {
    cursor: pointer;
}

.output-console {
    width: 78%;
    height: 100%;
    background-color: #FDFCFA;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 5px 5px #777777;
    overflow-y: scroll;
}
